body {
  background-color: rgb(200, 215, 240);
  text-align: center;
}

#title {
  font-family: 'Teko', sans-serif;
  font-size: 5em;
  text-shadow: 5px 5px rgb(80, 80, 80);
  margin-bottom: auto;
}

#village {

  border: inset 5px rgb(0,0,0);
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 50%;
}

.button {
   display: inline;
   background-color: rgb(80, 80, 80);
   border-radius: 5%;
   color: white;
   padding: 15px 32px;
   text-decoration: none;
   font-size: 1.5em;
   font-family: 'Teko', sans-serif;
}